body {
  border: 0.5rem outset black;
  border-width: thick;
  border-style: solid;
  margin: 10px auto;
  border-radius: 38px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );
  box-shadow: 10px, 20px;
  max-width: 1000px;
  min-width: 1000px;
  align-items: center;
  position: relative;
}

.container {
  align-items: center;
}

.nightTime {
  background-image: url(night-sky-background-with-stars_104785-147.avif);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
  border-color: #f8f9fa;
  border-radius: 30px;
  color: #f8f9fa;
  box-shadow: 10px, 20px;
}

.dayTime {
  background-image: url(white-cloud-sky-background_74190-4646.avif);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid;
  border-color: black;
  border-radius: 30px;
  color: black;
  box-shadow: 10px, 20px;
}

h1 {
  font-weight: 700;
  text-decoration: none;
}

.weatherDesc .nightTime {
  color: #f8f9fa;
  border: none;
  background: none;
}

.weatherDesc {
  color: black;
  border: none;
  background: none;
}

.wind {
  font-size: 22pt;
  display: inline-block;
  border: none;
}

.windIcon {
  padding-left: 10px;
}

.humidity {
  font-size: 22pt;
  display: inline-block;
  border: none;
}

.humidityIcon {
  padding-left: 10px;
}

p {
  border: solid;
  border-color: black;
  border-radius: 70px;
  padding: 50px;
}

button {
  margin-right: 10px;
  background-color: black;
  color: antiquewhite;
}

.tempMain {
  border: none;
  font-size: 50pt;
}

.unit {
  border: none;
  font-size: x-large;
  text-decoration: none;
}

.unit .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.unit .active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}

.col-search {
  font-weight: 900;
}
.current {
  font-weight: 900;
}

.days {
  margin-top: 100px;
  text-align: center;
}
